/* ._1 {
  display: none;
}

._2 {
  display: none;
}

._3 {
  display: auto;
}

._4 {
  display: none;
}

._5 {
  display: none;
}

._6 {
  display: none;
}

._7 {
  display: none;
}

._8 {
  display: none;
}

._9 {
  display: none;
}

._10 {
  display: none;
}

._11 {
  display: none;
}

._12 {
  display: none;
} */
