@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
  @apply font-playfair
}

body {
  @apply font-source
  
}

.button {
  @apply flex items-center py-1 px-2 rounded-md font-playfair shadow-md
}

@media only screen and (max-width:768px){
  .notmd{
    @apply bg-primaryGreen
  }
  .notmd::after{
    position:absolute;
    top:0;
    left:0;
    height: 200px;
    background-color: pink;
    z-index:10;
  }
}